.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
  margin-top: -11px;
}

.css-levciy-MuiTablePagination-displayedRows {
  margin-top: 6px;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  margin-bottom: 10px;
}
